Repository cdiddy77/react-native-mediapipe: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-docsite

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    types-docsite:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit --project docsite
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(settings): add a simple settings menu to the objectdetection sample (#79)
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/app-settings.ts
  examples/objectdetection/src/useDebounce.ts
  src/objectDetection/index.ts
  yarn.lock
Due: lint, types, types-docsite

feat(settings): create an applications state and modify settings there
  examples/objectdetection/src/Photo.tsx
Due: lint

feat(settings): get ios version working
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/src/Settings.tsx
  yarn.lock
Due: lint

fix(settings): get picker working on Android
  examples/objectdetection/src/Settings.tsx
Due: lint

fix(settings): download model during the build (android)
  examples/.gitignore
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/android/app/download_models.gradle
  examples/objectdetection/android/build.gradle
  examples/objectdetection/src/Settings.tsx
Due: lint

fix(settings): re-enable model selection
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection/AppDelegate.mm
  examples/objectdetection/src/Settings.tsx
  yarn.lock
Due: lint

fix: make android object detection rectangles correct (#75)
  .github/workflows/ci.yml
  .gitmodules
  android/build.gradle
  android/src/main/cpp/JImage.cpp
  android/src/main/cpp/JImage.h
  android/src/main/cpp/JImagePlane.cpp
  android/src/main/cpp/JImagePlane.h
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/cpp/ResizeConvert.h
  android/src/main/cpp/ResizeConvertLib.cpp
  android/src/main/java/com/reactnativemediapipe/objectdetection/ConvertHelpers.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/ResizeConvert.kt
  examples/objectdetection/src/CameraStream.tsx
  src/__tests__/convert.test.ts
  src/__tests__/index.test.tsx
  src/objectDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
Due: lint, types, types-docsite

fix: build break in camerastream.tsx
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: build from errant merge
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: update podfile.lock
  examples/objectdetection/ios/Podfile.lock
Due: none

fix: build from errant merge (#87)
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/src/CameraStream.tsx
Due: lint

chore: cleaned up my code (#83)
  examples/objectdetection/src/Photo.tsx
Due: lint

fix: replaced switch camera text with symbol
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: added consistent color theme to the permissions page to match our logo
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/colors.ts
Due: lint, types, types-docsite

fix: try a fix for the ios build
  .github/workflows/ci.yml
Due: none

fix: check to see how our podfile and manifest are looking
  .github/workflows/ci.yml
Due: none

fix: hack to invalidate cocoapods cache
  examples/objectdetection/ios/Podfile.lock
Due: none

fix: upgrade typescript just to invalidate caches
  docsite/package.json
  examples/objectdetection/package.json
  package.json
  yarn.lock
Due: none

fix: just disable cache checking altogether
  .github/workflows/ci.yml
Due: none

fix: re-enable cache checking
  .github/workflows/ci.yml
Due: none

fix: try a fix for the ios build (#92)
  .github/workflows/ci.yml
  docsite/package.json
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  package.json
  yarn.lock
Due: none

feat: implement object detection on image
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/MediaHelper.kt
  examples/objectdetection/ios/objectdetection/Info.plist
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Drawing.tsx
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/useDebounce.ts
  ios/objectdetection/ObjectDetectionModule.m
  ios/objectdetection/ObjectDetectionModule.swift
  ios/shared/MediaHelper.swift
  src/objectDetection/index.ts
Due: lint, types, types-docsite

fix: try disabling cache to see if that helps
  .github/workflows/ci.yml
Due: none

feat: implement object detection on image (#93)
  .github/workflows/ci.yml
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/MediaHelper.kt
  examples/objectdetection/ios/objectdetection/Info.plist
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Drawing.tsx
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/useDebounce.ts
  ios/objectdetection/ObjectDetectionModule.m
  ios/objectdetection/ObjectDetectionModule.swift
  ios/shared/MediaHelper.swift
  src/objectDetection/index.ts
Due: lint, types, types-docsite

docs: applied feedback to object-detection file
  docsite/docs/api_pages/object-detection.md
Due: none

fix: added fragment to satisfy the linter
  examples/objectdetection/src/CameraStream.tsx
Due: lint

feat: add iconfile
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/100.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/1024.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/114.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/120.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/128.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/144.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/152.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/16.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/167.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/180.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/20.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/256.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/29.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/32.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/40.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/48.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/50.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/512.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/55.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/57.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/58.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/60.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/64.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/66.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/72.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/76.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/80.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/87.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/Contents.json
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/objectdetection/ios/objectdetection/Images.xcassets/Contents.json
  examples/objectdetection/ios/objectdetection/Info.plist
  yarn.lock
Due: none

chore: removed an unnecessary fragment
  examples/objectdetection/src/CameraStream.tsx
Due: lint

feat: added app icons for ios
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/100.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/114.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/128.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/144.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/152.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/16.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/167.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/20.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/256.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/29.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/32.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/48.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/50.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/512.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/55.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/57.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/64.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/66.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/72.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/76.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon .appiconset/Contents.json
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/1024.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/120 1.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/120.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/180.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/40.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/58.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/60.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/80.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/87.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/Contents.json
Due: none

docs: addressed feedback on object orientation page
  docsite/docs/api_pages/object-detection.md
Due: none

docs: added the documentation for the object detection page (#77)
  docsite/docs/api_pages/object-detection.md
  docsite/docs/intro.md
Due: none

test: drafting error handling - not complete
  examples/objectdetection/src/Photo.tsx
Due: lint

fix: added consistent color theme to the permissions page to match our logo (#89)
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/colors.ts
Due: lint, types, types-docsite
