Repository cdiddy77/react-native-mediapipe: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-docsite

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

types-docsite:
  run: npx tsc --noEmit --project docsite

fix: update ios files
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
Due: none

fix: work-around long path issues on windows (#39)
  .yarn/patches/react-native-vision-camera-npm-3.9.2-3b35d90475.patch
  examples/objectdetection/android/gradle.properties
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  package.json
  tools/windows/ninja.exe
  yarn.lock
Due: none

Worked on the Readme file. Added placeholder for later iterations. (#42)
  README.md
Due: none

Contributing file (#41)
  CONTRIBUTING.md
  examples/objectdetection/ios/Podfile.lock
Due: none

Fixed a typo in my plugins statement!
  README.md
Due: none

feat: modified the Get Started section
  CONTRIBUTING.md
Due: none

Fixed a typo in my readme (#54)
  README.md
Due: none

feat: implement minimal stack navigation
  examples/objectdetection/android/app/src/main/java/com/objectdetection/MainActivity.kt
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/StillPhoto.tsx
  yarn.lock
Due: lint

feat: add tab navigation
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  yarn.lock
Due: lint

docs: updated installation instructions and began organizing the headers for the doc site
  docsite/docs/intro.md
  docsite/docs/tutorial-basics/_category_.json
  docsite/docusaurus.config.ts
  docsite/sidebars.ts
Due: lint, types, types-docsite

fix: podfile updates for navigation
  examples/objectdetection/ios/Podfile.lock
Due: none

fix: changes based on code review
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/StillPhoto.tsx
  examples/objectdetection/src/navigation.ts
Due: lint, types, types-docsite

fix: add podfile updates for react-navigation
  examples/objectdetection/ios/Podfile.lock
Due: none

feat: add tab navigation to object detection sample (#57)
  examples/objectdetection/android/app/src/main/java/com/objectdetection/MainActivity.kt
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/navigation.ts
  yarn.lock
Due: lint, types, types-docsite

feat: made app open photo instead of camera
  examples/objectdetection/src/App.tsx
Due: lint

feat: added a pressable icon on camera stream that allows switching between front and back cameras
  examples/objectdetection/android/app/src/main/res/drawable-hdpi/mediapipe_camera_swap_icon.png
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  src/index.tsx
Due: lint

fix: added activecamera as a prop for mediapipecamera as per charles instruction
  src/index.tsx
Due: lint

fix: imported camerapostion to assign activecamera as a prop
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: resolved broken link issue and fixed the nav bar
  docsite/docs/intro.md
  docsite/docusaurus.config.ts
Due: lint, types, types-docsite

chore: updated dependencies and iOS configurations
  CONTRIBUTING.md
Due: none

fix: removed image, removed unecessary line edits, changed button text
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/android/app/src/main/AndroidManifest.xml
  examples/objectdetection/android/app/src/main/res/drawable-hdpi/mediapipe_camera_swap_icon.png
  examples/objectdetection/src/CameraStream.tsx
Due: lint

feat: add icons to tab bar
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  yarn.lock
Due: lint

chore: updated iOS path
  CONTRIBUTING.md
Due: none

chore: updated iOS path. making sure ios file is in the right path way
  CONTRIBUTING.md
Due: none

contributing.md (#55)
  CONTRIBUTING.md
Due: none

feat: icons on ios
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection/Info.plist
Due: none

fix: changed formatting in the operating systems section on the dicsite
  docsite/docs/intro.md
Due: none

docs: updated installation instructions and began organizing the headers for the doc site (#56)
  docsite/docs/intro.md
  docsite/docs/tutorial-basics/_category_.json
  docsite/docusaurus.config.ts
  docsite/sidebars.ts
Due: lint, types, types-docsite

Adam's first issue - ability to switch between cameras (#58)
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/CameraStream.tsx
  src/index.tsx
Due: lint

feat: Add icons packages for android/ios and consume them in the tab bar (#60)
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection/Info.plist
  examples/objectdetection/package.json
  examples/objectdetection/src/App.tsx
  yarn.lock
Due: lint

fix: android inference with faster yuv->rgb conversion
  .clang-format
  .eslintrc.js
  .gitignore
  .gitmodules
  android/CMakeLists.txt
  android/build.gradle
  android/src/main/cpp/JImage.cpp
  android/src/main/cpp/JImage.h
  android/src/main/cpp/JImagePlane.cpp
  android/src/main/cpp/JImagePlane.h
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/cpp/ResizeConvert.h
  android/src/main/cpp/ResizeConvertLib.cpp
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/ResizeConvert.kt
  package.json
  src/objectDetection/index.ts
  tsconfig.build.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: lint, types, types-docsite

docs: attempted to fix merge conflicts and update my files
  docsite/docs/tutorial-basics/face-detection.md
  docsite/docs/tutorial-basics/face-landmark-detection.md
  docsite/docs/tutorial-basics/gesture-recognition.md
  docsite/docs/tutorial-basics/hand-landmark-detection.md
  docsite/docs/tutorial-basics/image-classification.md
  docsite/docs/tutorial-basics/image-embedding.md
  docsite/docs/tutorial-basics/image-segmentation.md
  docsite/docs/tutorial-basics/interactive-segmentation.md
  docsite/docs/tutorial-basics/object-detection.md
  docsite/docs/tutorial-basics/pose-landmark-detection.md
Due: none

feat: installed react-native-image-crop-picker
  examples/objectdetection/package.json
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: added functionality to crop-picker - not clean though
  examples/objectdetection/src/Photo.tsx
  yarn.lock
Due: lint

fix: more get it working
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  examples/objectdetection/src/CameraStream.tsx
  src/index.tsx
  src/objectDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
  tsconfig.shared.json
Due: lint, types, types-docsite

fix: cant set that flag
  tsconfig.shared.json
Due: none

fix: make sure to get submodules for android build
  .github/workflows/ci.yml
Due: none

fix: android inference with faster yuv->rgb conversion (#51)
  .clang-format
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  android/CMakeLists.txt
  android/build.gradle
  android/src/main/cpp/JImage.cpp
  android/src/main/cpp/JImage.h
  android/src/main/cpp/JImagePlane.cpp
  android/src/main/cpp/JImagePlane.h
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/cpp/ResizeConvert.h
  android/src/main/cpp/ResizeConvertLib.cpp
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/ResizeConvert.kt
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  examples/objectdetection/src/CameraStream.tsx
  package.json
  src/index.tsx
  src/objectDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
  tsconfig.build.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: lint, types, types-docsite

docs: created an API folder and deleted the template tutorials
  docsite/docs/api_pages/_category_.json
  docsite/docs/api_pages/face-detection.md
  docsite/docs/api_pages/face-landmark-detection.md
  docsite/docs/api_pages/gesture-recognition.md
  docsite/docs/api_pages/hand-landmark-detection.md
  docsite/docs/api_pages/image-classification.md
  docsite/docs/api_pages/image-embedding.md
  docsite/docs/api_pages/image-segmentation.md
  docsite/docs/api_pages/interactive-segmentation.md
  docsite/docs/api_pages/object-detection.md
  docsite/docs/api_pages/pose-landmark-detection.md
  docsite/docs/tutorial-basics/congratulations.md
  docsite/docs/tutorial-basics/create-a-blog-post.md
  docsite/docs/tutorial-basics/create-a-document.md
  docsite/docs/tutorial-basics/create-a-page.md
  docsite/docs/tutorial-basics/deploy-your-site.md
  docsite/docs/tutorial-basics/markdown-features.mdx
  docsite/docs/tutorial-basics/object-detection.md
  docsite/docs/tutorial-extras/_category_.json
  docsite/docs/tutorial-extras/img/docsVersionDropdown.png
  docsite/docs/tutorial-extras/img/localeDropdown.png
  docsite/docs/tutorial-extras/manage-docs-versions.md
  docsite/docs/tutorial-extras/translate-your-site.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  types-docsite: any of: *.{js,ts, jsx, tsx}
