Repository cdiddy77/react-native-mediapipe: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-docsite

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

types-docsite:
  run: npx tsc --noEmit --project docsite

chore: release 0.4.0
  package-lock.json
  package.json
Due: none

fix(docs): changed bad meta description for issue #122
  docsite/src/pages/index.tsx
Due: lint

fix(docs): added period to meta description for issue #122
  docsite/src/pages/index.tsx
Due: lint

Changed bad description meta tag on docsite for issue #122. (#138)
  docsite/src/pages/index.tsx
Due: lint

Revert "chore(deps): bump braces from 3.0.2 to 3.0.3 (#132)"
  yarn.lock
Due: none

feat: change code to avoid rerenders, add framerate option
  examples/posedetection/babel.config.js
  examples/posedetection/src/CameraStream.tsx
  examples/posedetection/src/Drawing.tsx
  src/poseDetection/index.ts
Due: lint, types, types-docsite

feat: change code to avoid rerenders, add framerate option (#139)
  examples/posedetection/babel.config.js
  examples/posedetection/src/CameraStream.tsx
  examples/posedetection/src/Drawing.tsx
  src/poseDetection/index.ts
Due: lint, types, types-docsite

feat: replace favicon with rnmp logo
  docsite/docusaurus.config.ts
  docsite/static/img/favicon.ico
  docsite/static/img/react-native-mediapipe-favicon.ico
Due: lint, types, types-docsite

chore: rename variable
  src/poseDetection/index.ts
Due: lint, types, types-docsite

docs: added docs for Object Detection, Face Landmark Detection and Installation
  docsite/src/components/HomepageFeatures/index.tsx
Due: lint

docs: added docs for Object Detection, Face Landmark Detection and Installation (#145)
  docsite/src/components/HomepageFeatures/index.tsx
Due: lint

chore: rename variable (#143)
  src/poseDetection/index.ts
Due: lint, types, types-docsite

chore: release 0.5.0
  package-lock.json
  package.json
Due: none

fix: rewrite orientation handling for pose detector. Create docs
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/OrientationHelpers.kt
  docsite/docs/api_pages/pose-landmark-detection.md
  examples/facelandmarkdetection/src/Photo.tsx
  examples/posedetection/ios/Podfile.lock
  examples/posedetection/package.json
  examples/posedetection/src/CameraStream.tsx
  ios/posedetection/PoseDetectionFrameProcessorPlugin.swift
  ios/shared/OrientationHelper.swift
  package.json
  src/__tests__/convert.test.ts
  src/faceLandmarkDetection/index.ts
  src/objectDetection/index.ts
  src/poseDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
  yarn.lock
Due: lint, types, types-docsite

fix: rewrite orientation handling for pose detector. Create docs (#148)
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/OrientationHelpers.kt
  docsite/docs/api_pages/pose-landmark-detection.md
  examples/facelandmarkdetection/src/Photo.tsx
  examples/posedetection/ios/Podfile.lock
  examples/posedetection/package.json
  examples/posedetection/src/CameraStream.tsx
  ios/posedetection/PoseDetectionFrameProcessorPlugin.swift
  ios/shared/OrientationHelper.swift
  package.json
  src/__tests__/convert.test.ts
  src/faceLandmarkDetection/index.ts
  src/objectDetection/index.ts
  src/poseDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
  yarn.lock
Due: lint, types, types-docsite

chore: release 0.5.1
  package-lock.json
  package.json
Due: none

fix(pose detection): use safe call in pose detection frame processor for null safety
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectionFrameProcessorPlugin.kt
Due: none

fix(pose detection): use safe call in pose detection frame processor for null safety (#151)
  android/src/main/java/com/reactnativemediapipe/posedetection/PoseDetectionFrameProcessorPlugin.kt
Due: none

feat: improving FaceLandmarking frame processor for iOS
  examples/facelandmarkdetection/babel.config.js
  examples/facelandmarkdetection/ios/Podfile.lock
  examples/facelandmarkdetection/ios/facelandmarkdetection.xcodeproj/project.pbxproj
  examples/facelandmarkdetection/package.json
  examples/facelandmarkdetection/src/CameraStream.tsx
  examples/facelandmarkdetection/src/Drawing.tsx
  examples/facelandmarkdetection/src/Photo.tsx
  ios/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.swift
  src/faceLandmarkDetection/index.ts
  yarn.lock
Due: lint, types, types-docsite

feat: updating photo.tsx
  examples/facelandmarkdetection/src/Photo.tsx
Due: lint

feat: add a ref prop to give access to react native camera
  examples/posedetection/src/Drawing.tsx
  src/shared/mediapipeCamera.tsx
Due: lint

feat: add a ref prop to give access to react native camera (#159)
  examples/posedetection/src/Drawing.tsx
  src/shared/mediapipeCamera.tsx
Due: lint

chore: release 0.6.0
  package-lock.json
  package.json
Due: none

feat: enable missing faceBlendshapes feature for ios
  ios/facelandmarkdetection/FaceLandmarkDetectorHelper.swift
Due: none

chore: bump dependency MediaPipeTasksVision to 0.10.13 which is the minimum version to have face blendshapes
  ReactNativeMediaPipe.podspec
Due: none

feat: adding orientation support to facelandmarking on android
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
  examples/facelandmarkdetection/src/Photo.tsx
Due: lint

docs: updating facelandmarking docs to reflect feature parity with pose detection
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
  docsite/docs/api_pages/face-landmark-detection.md
  examples/facelandmarkdetection/src/Photo.tsx
  ios/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.swift
  src/faceLandmarkDetection/index.ts
Due: lint, types, types-docsite

fix: a few touchups
  examples/facelandmarkdetection/Gemfile
  examples/facelandmarkdetection/Gemfile.lock
  examples/facelandmarkdetection/ios/Podfile.lock
  examples/facelandmarkdetection/src/CameraStream.tsx
  src/shared/convert.ts
Due: lint, types, types-docsite

Added facelandmark orientation (#160)
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectionModule.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
  docsite/docs/api_pages/face-landmark-detection.md
  examples/facelandmarkdetection/Gemfile
  examples/facelandmarkdetection/Gemfile.lock
  examples/facelandmarkdetection/babel.config.js
  examples/facelandmarkdetection/ios/Podfile.lock
  examples/facelandmarkdetection/ios/facelandmarkdetection.xcodeproj/project.pbxproj
  examples/facelandmarkdetection/package.json
  examples/facelandmarkdetection/src/CameraStream.tsx
  examples/facelandmarkdetection/src/Drawing.tsx
  examples/facelandmarkdetection/src/Photo.tsx
  ios/facelandmarkdetection/FaceLandmarkDetectionFrameProcessorPlugin.swift
  src/faceLandmarkDetection/index.ts
  src/shared/convert.ts
  yarn.lock
Due: lint, types, types-docsite

add visibility and presence to posedetection
  android/build.gradle
  android/src/main/java/com/reactnativemediapipe/shared/ConvertHelpers.kt
Due: none

add_crop_image_nearBy_face
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
Due: none

reset
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
Due: none

add import java.util.Optional
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/ConvertHelpers.kt
Due: none

revert FaceLandmarkDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/facelandmarkdetection/FaceLandmarkDetectorHelper.kt
Due: none

Feat: Add visibility and presence to landmark results(AOS) (#178)
  android/build.gradle
  android/src/main/java/com/reactnativemediapipe/shared/ConvertHelpers.kt
Due: none

fix: update lock files
  package-lock.json
  yarn.lock
Due: none

fix: remove react native vector icons dependency
  package.json
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  types-docsite: any of: *.{js,ts, jsx, tsx}
