Repository cdiddy77/react-native-mediapipe: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-docsite

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

types-docsite:
  run: npx tsc --noEmit --project docsite

chore: update yarn.lock
  yarn.lock
Due: none

feat: add app icon for andriod
  android/src/main/AndroidManifest.xml
  examples/objectdetection/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Due: none

fix: fix build-ios script for facelandmark detection example package
  examples/facelandmarkdetection/package.json
Due: none

fix: continued color theme through object detection app and styled photo selection view page
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Photo.tsx
Due: lint

ci: fix the build for the new example
  .github/workflows/ci.yml
Due: none

fix: maybe fix merge conflicts
  examples/facelandmarkdetection/package.json
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  yarn.lock
Due: none

iconfile for andriod (#109)
  android/src/main/AndroidManifest.xml
  examples/facelandmarkdetection/package.json
  examples/objectdetection/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/objectdetection/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/1024.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/120 1.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/120.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/180.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/40.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/58.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/60.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/80.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/87.png
  examples/objectdetection/ios/objectdetection/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/objectdetection/ios/objectdetection/Images.xcassets/Contents.json
  examples/objectdetection/ios/objectdetection/Info.plist
  package-lock.json
  package.json
  yarn.lock
Due: none

chore: fixup objectdetection bundle id
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
Due: none

chore: fixup objectdetection bundle id (#111)
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
Due: none

chore: release 0.3.0
  package-lock.json
  package.json
Due: none

fix: continued color theme through object detection app and styled photo selection view page (#110)
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Photo.tsx
Due: lint

docs: added coming soon clarification to the landing pages for incomplete classifiers
  docsite/docs/api_pages/face-detection.md
  docsite/docs/api_pages/gesture-recognition.md
  docsite/docs/api_pages/hand-landmark-detection.md
  docsite/docs/api_pages/image-classification.md
  docsite/docs/api_pages/image-embedding.md
  docsite/docs/api_pages/image-segmentation.md
  docsite/docs/api_pages/interactive-segmentation.md
  docsite/docs/api_pages/pose-landmark-detection.md
Due: none

fix: title and logo for documentation site (#107)
  docsite/docusaurus.config.ts
  docsite/static/img/rnmp_logo.png
Due: lint, types, types-docsite

fix: deleted commented out code and logo file (#107)
  docsite/docusaurus.config.ts
  docsite/static/img/logo.svg
Due: lint, types, types-docsite

fix: title and logo for documentation site (#107) (#119)
  docsite/docusaurus.config.ts
  docsite/static/img/logo.svg
  docsite/static/img/rnmp_logo.png
Due: lint, types, types-docsite

fix: removed unnecessary catch block
  examples/objectdetection/src/Photo.tsx
Due: lint

feat: fixed error handling properly
  examples/objectdetection/src/Photo.tsx
Due: lint

chore: updates on ios objectdetection
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
Due: none

feat: add new icons and update project settings for facelandmarkdetection
  examples/facelandmarkdetection/ios/Podfile.lock
  examples/facelandmarkdetection/ios/facelandmarkdetection.xcodeproj/project.pbxproj
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/1024.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/120 1.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/120.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/180.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/40.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/58.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/60.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/80.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/87.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/facelandmarkdetection/ios/facelandmarkdetection/Info.plist
Due: none

chore: updating launcher icons
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Due: none

fix: #112, #113 and #116; small changes in documentation files (object-detection.md and intro.md)
  docsite/docs/api_pages/object-detection.md
  docsite/docs/intro.md
  docsite/docs/trouble_shooting_guides/_category_.json
  docsite/docs/troubleshooting_guides/_category_.json
  docsite/docs/troubleshooting_guides/long_path_issue.md
Due: none

fix: #112, #113 and #116; small changes in documentation files (object-detection.md and intro.md) (#125)
  docsite/docs/api_pages/object-detection.md
  docsite/docs/intro.md
  docsite/docs/trouble_shooting_guides/_category_.json
  docsite/docs/troubleshooting_guides/_category_.json
  docsite/docs/troubleshooting_guides/long_path_issue.md
Due: none

docs: made coming soon file to import message into pages
  docsite/docs/_coming-soon.md
  docsite/docs/api_pages/face-detection.md
  docsite/docs/api_pages/gesture-recognition.md
  docsite/docs/api_pages/hand-landmark-detection.md
  docsite/docs/api_pages/image-classification.md
  docsite/docs/api_pages/image-embedding.md
  docsite/docs/api_pages/image-segmentation.md
  docsite/docs/api_pages/interactive-segmentation.md
  docsite/docs/api_pages/pose-landmark-detection.md
  docsite/sidebars.ts
Due: lint, types, types-docsite

docs: added few steps to the getting started documentation for face landmark app (#101)
  docsite/docs/api_pages/face-landmark-detection.md
  docsite/docs/api_pages/object-detection.md
Due: none

docs: made coming soon file to import message into pages
  docsite/sidebars.ts
Due: lint, types, types-docsite

docs: added coming soon clarification to the landing pages for incomplete classifiers (#118)
  docsite/docs/_coming-soon.md
  docsite/docs/api_pages/face-detection.md
  docsite/docs/api_pages/gesture-recognition.md
  docsite/docs/api_pages/hand-landmark-detection.md
  docsite/docs/api_pages/image-classification.md
  docsite/docs/api_pages/image-embedding.md
  docsite/docs/api_pages/image-segmentation.md
  docsite/docs/api_pages/interactive-segmentation.md
  docsite/docs/api_pages/pose-landmark-detection.md
Due: none

docs: addressed feedback received and added the rest of steps for face landmark page #101
  docsite/docs/api_pages/face-landmark-detection.md
Due: none

feat: added face landmark to photo
  examples/facelandmarkdetection/src/Photo.tsx
Due: lint

fix: removed notes
  examples/facelandmarkdetection/src/Photo.tsx
Due: lint

docs: added few steps to the getting started documentation for face landmark app #101 (#126)
  docsite/docs/api_pages/face-landmark-detection.md
  docsite/docs/api_pages/object-detection.md
Due: none

chore: revert pod lock file
  examples/objectdetection/ios/Podfile.lock
Due: none

app icon for facelandmark (#124)
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/facelandmarkdetection/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/facelandmarkdetection/ios/Podfile.lock
  examples/facelandmarkdetection/ios/facelandmarkdetection.xcodeproj/project.pbxproj
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/1024.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/120 1.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/120.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/180.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/40.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/58.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/60.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/80.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/87.png
  examples/facelandmarkdetection/ios/facelandmarkdetection/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/facelandmarkdetection/ios/facelandmarkdetection/Info.plist
  examples/objectdetection/ios/objectdetection.xcodeproj/project.pbxproj
Due: none

feat: added face detection to images (#129)
  examples/facelandmarkdetection/src/Photo.tsx
Due: lint

chore: boost the gradle jvm memory
  examples/facelandmarkdetection/android/gradle.properties
Due: none

fix: make so facelandmarker photo passes typecheck
  examples/facelandmarkdetection/src/Photo.tsx
  examples/facelandmarkdetection/src/colors.ts
Due: lint, types, types-docsite

chore: boost the gradle jvm memory (#131)
  examples/facelandmarkdetection/android/gradle.properties
Due: none

fix: make so facelandmarker photo passes typecheck (#133)
  examples/facelandmarkdetection/src/Photo.tsx
  examples/facelandmarkdetection/src/colors.ts
Due: lint, types, types-docsite

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  types-docsite: any of: *.{js,ts, jsx, tsx}
