Repository cdiddy77/react-native-mediapipe: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-docsite

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
    types-docsite:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit --project docsite
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: improve the category text display
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: dynamically set text color based on luminosity of bg color
  examples/objectdetection/src/CameraStream.tsx
Due: lint

fix: update Podfile.lock
  examples/objectdetection/ios/Podfile.lock
Due: none

fix: improve the category text display (#68)
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/src/CameraStream.tsx
Due: lint

feat(settings): add slider ui for max results and score threshold
  examples/objectdetection/package.json
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Settings.tsx
  yarn.lock
Due: lint

feat(settings): add in pickers for delegate and model selections
  examples/objectdetection/package.json
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/Settings.tsx
  yarn.lock
Due: lint

feat(settings): create an applications state and modify settings there
  examples/objectdetection/src/App.tsx
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/Settings.tsx
  examples/objectdetection/src/app-settings.ts
Due: lint, types, types-docsite

fix: reverted package.json and removed an unnecessary package-lock
  package.json
Due: none

fix: deleted unnecessary file
  package-lock.json
Due: none

feat(settings): get ios version working
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  examples/objectdetection/src/Settings.tsx
  yarn.lock
Due: lint

feat: added image selection to tab
  examples/objectdetection/src/Photo.tsx
Due: lint

docs: create a trouble shooting section for the docsite and added long paths as the first page
  docsite/docs/trouble_shooting_guides/_category_.json
  docsite/docs/trouble_shooting_guides/long_path_issue.md
Due: none

docs: created a trouble shooting section for the docsite and added long paths as the first page
  docsite/docs/trouble_shooting_guides/_category_.json
  docsite/docs/trouble_shooting_guides/long_path_issue.md
Due: none

docs: created a trouble shooting section for the docsite and added long paths as the first page (#73)
  docsite/docs/trouble_shooting_guides/_category_.json
  docsite/docs/trouble_shooting_guides/long_path_issue.md
Due: none

chore: update react-native-vision-camera to v4
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/java/com/reactnativemediapipe/MediapipePackage.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  package.json
  yarn.lock
Due: none

chore: update patch for ninja
  .yarn/patches/react-native-vision-camera-npm-4.0.1-7ecdf9d15a.patch
  package.json
  yarn.lock
Due: none

fix(settings): get picker working on Android
  examples/objectdetection/src/Settings.tsx
Due: lint

fix: linting error with breaking change in RNVC v4
  src/shared/types.ts
Due: lint, types, types-docsite

chore: update react-native-vision-camera to v4 (#74)
  .yarn/patches/react-native-vision-camera-npm-4.0.1-7ecdf9d15a.patch
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/java/com/reactnativemediapipe/MediapipePackage.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionModule.kt
  examples/objectdetection/ios/Podfile.lock
  examples/objectdetection/package.json
  package.json
  src/shared/types.ts
  yarn.lock
Due: lint, types, types-docsite

fix: make android object detection rectangles correct
  .github/workflows/ci.yml
  .gitmodules
  android/build.gradle
  android/src/main/cpp/JImage.cpp
  android/src/main/cpp/JImage.h
  android/src/main/cpp/JImagePlane.cpp
  android/src/main/cpp/JImagePlane.h
  android/src/main/cpp/ResizeConvert.cpp
  android/src/main/cpp/ResizeConvert.h
  android/src/main/cpp/ResizeConvertLib.cpp
  android/src/main/java/com/reactnativemediapipe/objectdetection/ConvertHelpers.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectionFrameProcessorPlugin.kt
  android/src/main/java/com/reactnativemediapipe/objectdetection/ObjectDetectorHelper.kt
  android/src/main/java/com/reactnativemediapipe/shared/ResizeConvert.kt
  examples/objectdetection/src/CameraStream.tsx
  src/__tests__/convert.test.ts
  src/__tests__/index.test.tsx
  src/objectDetection/index.ts
  src/shared/convert.ts
  src/shared/mediapipeCamera.tsx
  src/shared/types.ts
Due: lint, types, types-docsite

feat: add search
  docsite/package.json
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: add search bar
  docsite/docusaurus.config.ts
  yarn.lock
Due: lint, types, types-docsite

chore: delete package
  package-lock.json
  package.json
Due: none

Search bar (#76)
  docsite/docusaurus.config.ts
  docsite/package.json
  yarn.lock
Due: lint, types, types-docsite

docs: added the documentation for the object detection page
  docsite/docs/api_pages/object-detection.md
  docsite/docs/intro.md
Due: none

fix(settings): use debounce to prevent reloading the object detector too frequently
  examples/objectdetection/src/CameraStream.tsx
  examples/objectdetection/src/useDebounce.ts
Due: lint, types, types-docsite

fix: added some styling to the mic and camera permissions page in the object detection app
  examples/objectdetection/src/CameraStream.tsx
Due: lint

feat: added error handling and the ability to select a new image when complete
  examples/objectdetection/src/Photo.tsx
Due: lint

fix(settings): download model during the build (android)
  examples/.gitignore
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/android/app/download_models.gradle
  examples/objectdetection/android/build.gradle
  examples/objectdetection/src/Settings.tsx
Due: lint

fix: added some styling to the mic and camera permissions page in the object detection app (#78)
  examples/objectdetection/src/CameraStream.tsx
Due: lint

Revert "fix(settings): download model during the build (android)"
  examples/.gitignore
  examples/objectdetection/android/app/build.gradle
  examples/objectdetection/android/app/download_models.gradle
  examples/objectdetection/android/build.gradle
  examples/objectdetection/src/Settings.tsx
Due: lint

fix(settings): comment out model chooser temporarily
  examples/objectdetection/src/Photo.tsx
  examples/objectdetection/src/Settings.tsx
Due: lint

chore: cleaned up my code
  examples/objectdetection/src/Photo.tsx
Due: lint

chore: update podfile.lock for image-picker
  examples/objectdetection/ios/Podfile.lock
Due: none

fix(image-picker): update podfile
  examples/objectdetection/ios/Podfile.lock
Due: none
